.main-holder .progress-bar span{
	font-size: 13px;
}
.bg-dark{
	background-color: #0E9595;
}
.overlay:before{
	background: #727271;
}
.main-heading:after{
	color:#C59A37;
}
#footer{
	background: #016969;
}
#footer p{
	color:#fff;
}
#footer p a{
	color:#000;
}
.content_404{
	min-height: 80vh;
	text-align: center;
}